$primary-color: #336913;
$secondary-color: #85bb50;
$third-color: #1d4009;
$green-4: #2d9444;
$green-5: #a7cc05;

$text-color: #000000;
$border-color: #dddd;

$blue-dark: #112d63;
$blue-dark-1: #518bbb;

$blue-light: #f5f8fa;
$blue-light-1: #f5faf8;
$blue-light-2: #f8fdff;
$blue-light-3: #e0f6ff;

$gray: #888888;
