@use "../variables" as var;
@use "../mixins" as func;

.navbar {
  @include func.flex($justify: space-between);
  padding: 2rem 4rem;

  .navbar-nav {
      a {
          display: inline-block;
          margin-inline: 0 24px;
          color: var.$text-color;
          font-size: 16px;
      }
  }

  .navbar-extra {
      .btn {
          @include func.btn($border: 2px solid var.$border-color);
          display: inline-block;
      }
  }
}