@use "../variables" as var;
@use "../mixins" as func;

.support {
    width: 100%;
    // height: 120px;
    background-color: var.$blue-light;
    // @include func.flex($justify: space-evenly);
    @include func.keyframes(slide) {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .logos {
        overflow: hidden;
        padding: 30px 0;
        white-space: nowrap;
        position: relative;
    }

    .logos:after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }

    .logos:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }

    .logos:hover {
        .logos-slide {
            animation-play-state: paused;
        }
    }

    .logos-slide {
        animation-play-state: paused;
        display: inline-block;
        animation: 35s slide infinite linear;

        img {
            // height: 50px;
            margin: 0 40px;
        }
    }
}
